:root {
  --config-font: 'Fira Code Retina', 'Input Mono';
  --config-size: 14px;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

html {
  filter: saturate(0);
  background: white;
}

html, .CodeMirror {
  font-family: var(--config-font), monospace;
  font-size: var(--config-size);
}

#editor{
  height: 100%;
}

/* Dark */
html.dark {
  background: black;
}
.dark #editor > .CodeMirror {
  filter: invert(1);
} 
